body{
    font-size: 30px;
    text-align: center;
    background-color: rgba(29, 103, 133, 0.952);
}


.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
  }
  .button:hover { 
    background-color: #e2aa30;
  }